@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(fonts/noto-sans.woff) format('woff');
}

html {
	height: 100%;
	margin: 0px;
}

body {
	background-color: #CCCCCC;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-size: 15px;
	height: 100%;
	width: 100%;
	margin: 0px;
}

header {
	background-color: #FFFFFF;
	padding: 5px 40px;
	height: 75px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	position: relative;
	z-index: 10;
}

/* Page title */
header img {
	float: left;
	margin-right: 30px;
	margin-top: 5px;
}

header h1 {
	float: left;
	text-decoration: none;
}
header a{
	text-decoration: none;
}

header a:visited {
  color: inherit;
}

/* Buttons im header */
header nav {
	position: relative;
	top: 20px;
}

header nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

header nav ul li {
	float: right;
	color: #000000;
	margin-right: 20px;
	text-align: center;
}

header nav ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 17px;
	font-size: 15px;
	font-weight: bold;
}

header nav ul li a:hover {
	display: block;
	text-decoration: none;
}
/* ------------------------------- */

/* Header Login Button */
header nav ul li #login {
	background-color: #9ACA55;
	width: 120px;
}

header nav ul li #login:hover {
	background-color: #68a170;
}

header nav ul li #login:active {
	background-color: #95c49c;
}
/* ------------------------------- */

/* Header Logout Button */
header nav ul li #logout {
	background-color: #FF3333;
}

header nav ul li #logout:hover {
	background-color: #E62E2E;
}

header nav ul li #logout:active {
	background-color: #FF6666;
}
/* ------------------------------- */

/* Header Admin Button */
header nav ul li #admin {
	background-color: #546a86;
	display: none;
}

header nav ul li #admin:hover {
	background-color: #6a85a8;
}

header nav ul li #admin:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Header Webgis Button */
header nav ul li #webgis {
	background-color: #546a86;
	display: none;
	width: 120px;
}

header nav ul li #webgis:hover {
	background-color: #6a85a8;
}

header nav ul li #webgis:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Header Project Button */
header nav ul li #project {
	background-color: #546a86;
	width: 120px;
}

header nav ul li #project:hover {
	background-color: #6a85a8;
}

header nav ul li #project:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Header Help Button */
header nav ul li #help-button {
	background-color: #546a86;
	width: 140px;
}

header nav ul li #help-button:hover {
	background-color: #6a85a8;
}

header nav ul li #help-button:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Header Home Button */
header nav ul li #home {
	background-color: #546a86;
	width: 120px;
}

header nav ul li #home:hover {
	background-color: #6a85a8;
}

header nav ul li #home:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Zugriff auf Daten Button */
header nav ul li #access {
	background-color: #546a86;
	width: 180px;
}

header nav ul li #access:hover {
	background-color: #6a85a8;
}

header nav ul li #access:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Upload Button */
header nav ul li #upload {
	background-color: #546a86;
	width: 180px;
}

header nav ul li #upload:hover {
	background-color: #6a85a8;
}

header nav ul li #upload:active {
	background-color: #8ba6c9;
}
/* ------------------------------- */

/* Welcome Page */
#welcome {
	position: absolute;
	text-align: center;
}

#welcome-about, #welcome-from, #welcome-technologies, #welcome-news {
	top: 150px;
	width: 300px;
	height: 600px;
	z-index: 10;
	float: left;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

#welcome-about p, #welcome-from p, #welcome-technologies p, #welcome-news p {
	text-align: left;
}

/* ------------------------------- */
#switch {
	background-color: #3c4245;
	height: 30px;
	width: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 85px;
	z-index: 8;
}

#switch ul {
	margin-top: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#switch ul li {
	float: left;
	text-align: center;
	height: 30px;
	width:25%;
}

#switch ul li h1 {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}

#switch ul li:hover {
	background-color: #989A9A !important;
}

#switch ul li:active {
	background-color: #CCCCCC !important;
}

.switch-content {
	position: absolute;
	background-color: #CCCCCC;
	top: 115px;
	bottom: -28px;
	width: 100%;
	height: 100%;
	z-index: 7;
	overflow: auto;
	margin: 0 auto;
}

.help-content {
	position: absolute;
	top: 0px;
	left: 25%;
	bottom: -28px;
	width: 50%;
	z-index: 8;
	text-align: justify;
}

.help-content li{
	margin-bottom: 5px;
}

.help-content img{
	display: block;
	margin: 0 auto;
	border: solid 1px;
}

.help-content h1, .help-content h2 , .help-content h3{
	text-align: center;
}

#viewuser-content {
	display: block;
}

#plotten-content {
	display: block;
}

#changeuser-content {
	display: none;
}

#adduser-content {
	display: none;
}

#calibration-content {
	display: none;
}

#weather-content {
	display: none;
}

/* Plotter auf access.php */
#scatterplot-settings {
	width: 20%;
	height: 80%;
	position: realtive;
	margin: 10px;
	padding-left: 10px;
	float: right;
	border: solid;
}

#scatterplot-settings h4{
	margin-bottom: 0px;
}

#scatterplot {
	width: 75%;
	height: 80%;
	position: realtive;
	margin: 10px;
	float: right;
	border: solid;
	background-color: #FFFFFF;
}

#weatherplot, #dataplot {
	height: 100%;
	width: 100%;
	display: none;
}

.plotter-processing {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 200px;
      height:200px;
      border-radius: 20px;
      z-index: 6;
      display: none;
}

/* ------------------------------- */

/* Map */
#map {
	position: absolute;
	top: 85px;
	left:250px;
	bottom: 28px;
	width: 100%;
	z-index: 5;
}

#mapdetails {
	position: absolute;
	top: 85px;
	bottom: 28px;
	width: 230px;
	padding: 15px;
	z-index: 6;
	background-color: #FFFFFF;
}

#map_zoom_slider {
	left: 20px !important;
}

#BasemapFrame {
      position: absolute;
      top: 230px;
      right: 10px;
      z-index: 6;
}

.map-processing {
      position: absolute;
      top: 50%;
      left:50%;
      background: rgba(0, 0, 0, 0.5);
      width: 200px;
      height:200px;
      border-radius: 20px;
      z-index: 6;
      display: none;
}

.esriScalebar {
	left: 20px !important;
}

.ovwContainer {
	width: 250px !important;
	heigth: 250px !important;
}

#HomeButton {
      position: absolute;
      top: 95px;
      left: 20px;
      z-index: 3;
      border: solid 1px #FFFFFF;
      border-radius: 5px;
}

#login-content{
	background-color: #FFFFFF;
	padding: 10px;
	position: absolute;
	top: 85px;
	right: 0px;
	width: 250px;
	height: 170px;
	z-index: 9;
	overflow: auto;
	padding-bottom: 20px;
	display: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

/* Meldungen im Login Fenster */
#input-error{
	margin: 10px 0px 0px 15px;
	color:red;
	font-size: 12px;
	display: none;
}

#login-error{
	margin: 10px 0px 0px 15px;
	color:red;
	font-size: 12px;
	display: none;
}

#login-success{
	margin: 10px 0px 0px 15px;
	color:green;
	font-size: 12px;
	display: none;
}
/* ------------------------------- */

#login-content h1{
	margin-left: 15px;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

/* Alle Buttons, die auf der Seite verwendet werden */
.submit-button {
	margin-top: 15px;
	margin-left: 15px;
	height: 35px;
	width: 150px;
	cursor: pointer;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-size: 15px;
}

.submit-button p{
	padding: 7px 0px 0px 40px;
}

/* Button login zur Seite */
#login-button{
	background-color: #EEEEEE;
}

#login-button:hover{
	background-color: #E2E2E2;
}

#login-button:active{
	background-color: #B5B5B5;
}
/* ------------------------------- */

/* Bunutzer registrieren Button */
#register-button, #upload-button {
	background-color: #52CC52;
	
}

#register-button:hover, #upload-button:hover {
	background-color: #86DB86;
}

#register-button:active, #upload-button:active {
	background-color: #9EE29E;
}
/* ------------------------------- */

/* Geoprocressing flooding starten Button */
#process-flooded-button {
	background-color: #52CC52;
	margin-top: 0px !important;
	margin-left: 0px;
}

#process-flooded-button:hover {
	background-color: #86DB86;
}

#process-flooded-button:active {
	background-color: #9EE29E;
}

#process-flooded-button p {
	padding: 7px 0px 0px 24px;
	margin-top: 5px;
}
/* ------------------------------- */

/* Geoprocressing flooding Part starten Button */
#process-flooded-part-button {
	background-color: #52CC52;
	margin-top: 0px !important;
	margin-left: 0px;
}

#process-flooded-part-button:hover {
	background-color: #86DB86;
}

#process-flooded-part-button:active {
	background-color: #9EE29E;
}

#process-flooded-part-button p {
	padding: 7px 0px 0px 24px;
	margin-top: 5px;
}
/* ------------------------------- */

/* Geoprocressing isolines starten Button */
#process-isolines-button {
	background-color: #52CC52;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px;
}

#process-isolines-button:hover {
	background-color: #86DB86;
}

#process-isolines-button:active {
	background-color: #9EE29E;
}

#process-isolines-button p {
	padding: 7px 0px 0px 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* ------------------------------- */

.register-error{
	display: none;
	color: red;
	height: 30px;
	position: absolute;
	left: 545px;
}

#user-empty {
	top: 80px;
}

#password-empty {
	top: 121px;
}

#password1-empty {
	top: 162px;
}

#name-empty {
	top: 203px;
}

#surname-empty {
	top: 244px;
}
#email-empty {
	top: 285px
}
#map-empty {
	top: 326px;
}

#data-empty {
	top: 367px;
}

#admin-empty {
	top: 408px;
}

#user-error {
      top: 82px;
}

#password-error {
      top: 140px;
}

#register-error {
      top: 445px;
}

#register-success {
      top: 455px;
      color: green;
}

#logout-content{
	background-color: #FFFFFF;
	padding: 10px;
	position: absolute;
	top: 85px;
	right: 0px;
	width: 300px;
	height: 120px;
	z-index: 9;
	overflow: auto;
	padding-bottom: 20px;
	display: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

#logout-content h1{
	margin-left: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#logout-content p{
	margin-left: 15px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#username, #password, #password1, #name, #surname, #email{
	margin-top: -5px;
	margin-left: 15px;
	height: 20px;
	width: 210px;
}

#impressum-content{
	background-color: #FFFFFF;
	padding: 10px;
	position: absolute;
	bottom: 28px;
	right: 0px;
	width: 500px;
	height: 220px;
	z-index: 1000;
	overflow: auto;
	padding-bottom: 20px;
	display: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

#impressum-content h1{
	font-size: 15px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#login{
	display: block;
}

#logout{
	display: none;
}

#adduser-content table, #viewuser-content table {
	margin-left: 30px;
	border:1px solid black;
	border-collapse: collapse;
	width: 500px;
	font-size: 20px;
	font-family: 'Noto Sans', Arial, sans-serif;
}

#adduser-content td, #viewuser-content td {
	padding: 5px;
	height: 30px;
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
}

#adduser-contenttd a, #viewuser-content a {
	text-decoration: underline;
	color: #000000;
}

#adduser-content th, #viewuser-content th {
	padding: 5px;
	height: 30px;
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
	font-size: 30px;
	}

/* Fußzeile der Seite */
footer {
	position: fixed;
	background-color: #3c4245;
	padding: 4px 40px;
	height: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	text-align: right;
	vertical-align: middle;
	overflow: hidden;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 1px;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 13px;
}

footer a:hover {
	color: #A6A6A6;
}